extends layout

block content
    .message-board-section
        h1 Message board

        .message-board

            each message in messages
                .msg-info
                    h2 #{message.author.username}
                    p.msg-date  #{message.time_sent}
                p.msg-body #{message.text}

            
            if user
                form(action="send-message" method="POST").msg-form
                    input(type="text" name="message").msg-input

                    button.msg-btn Send message