extends layout

block content
    .message-board-section
        h1 Message board

        .message-board

            each message in messages
                .msg-info

                    if user
                        h2 #{message.author.username}
                        p.msg-date  #{message.time_sent}

                        if user.is_admin
                            form(action=("/delete-" + message._id) method="POST").push
                                button.delete-btn delete
                    else
                        h2 Anonymous

                p.msg-body #{message.text}

            
            if user
                form(action="send-message" method="POST").msg-form
                    input(type="text" name="message").msg-input

                    button.msg-btn Send message