extends layout

block content
    .message-board-section
        h1 Message board

        .message-board


            form(method="POST").msg-form
                input.msg-input

                button.msg-btn Send message