extends layout

block content
    .form
        h1 Join members club
        form(method="POST")
            .input-group
                label(for="passcode") Enter passcode
                input(type="text" name="passcode")

                if error
                    h6.error #{error}

            button.submit-btn Join club 