doctype html
html
  head
    title Members-only App
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    .header
          h1
            a(href="/").title Members-only App

          if !user
            a(href="/login").push.link-btn Login
            a(href="/signup").link-btn Sign up

          else
            a(href="/logout").push.link-btn Log out
            a(href="/join").link-btn Join members club

    block content
