extends layout

block content
    form(method="POST")
        label(for="firstname") Firstname
        input(name="firstname")

        label(for="lastname") Lastname
        input(name="lastname")

        label(for="username") Username
        input(name="username")

        label(for="password") Password
        input(name="password" type="password")

        button Submit
